<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-vindo ao EasyOrder | App de Delivery</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <!-- FOOTER DAS PÁGINAS -->
    <footer class="footer-nav">
      <a href="#"><i class="fas fa-utensils"></i> <span>Restaurante</span> </a>
      <a href="#"><i class="fas fa-truck"></i> <span>Delivery</span> </a>
      <a href="#"
        ><i class="fas fa-shopping-cart"></i>
        <span>Carrinho</span>
      </a>
      <a href="#"><i class="fas fa-user"></i> <span>Perfil</span> </a>
    </footer>
  </body>
</html>
